<br>
<h1>Restaurants</h1>
<ul>
<%  @restaurants.each do |restaurant| %>
<li> <%= link_to restaurant[:name], restaurant_path(restaurant) %> <%= link_to "delete", restaurant_path(restaurant),
 method: :delete, data: { confirm: "Are you sure?" } %> </li>
<% end %>
</ul>

<%= link_to "create a new restaurant", new_restaurant_path %>
